.top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top .title{
  font-size: 42px;
}
.top .time{
  font-size: 28px;
  color: red;
}
.showInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showInfo .header {
  margin-top: 0.25rem;
  vertical-align: middle;
}
.showInfo .progress {
  margin: -20px 5px -20px 0;
  width: 100%;
}